/* Imagen de fondo */
body {
    background: url('imagenes/agencia.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Caja de registro */
.register-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 600px;
}

/* Estilo del logo */
.logo {
    width: 150px;
}

/* Estilos del botón */
.btn-warning {
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: none;
}

.btn-warning:hover {
    background-color: gold;
}
