/* Imagen de fondo */
body {
    background: url('imagenes/agencia.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Caja de login */
.login-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 350px;
}

/* Estilo del logo */
.logo {
    width: 150px;
}

/* Estilos de botones */
.btn-danger {
    background-color: red;
    border: none;
}

.btn-danger:hover {
    background-color: darkred;
}

.btn-primary {
    background-color: #00AEEF;
    border: none;
}

.btn-primary:hover {
    background-color: #0086C3;
}
